.messageContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.messageTrashIcon:hover,
.messageEditIcon:hover{
    cursor: pointer;

}

.messageContent{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.messageContentUser{
}

.messageIcons{
    display: flex;
    flex-direction: row;
}


.userMsgContainer{
    display: flex;
    padding: 3px;
    background-color: rgb(46, 128, 235);
    color: white;
    border-radius: 10px 10px 10px 10px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
}

.otherMsgContainer{
        display: flex;
        padding: 3px;
        background-color: rgb(156, 196, 250);
        color: white;
        border-radius: 10px 10px 10px 10px;
        flex-direction: row;
        justify-content: center;
        width: 200px;

}

.sessionChatContainer{
    
}