.messageContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.messageTrashIcon,
.messageEditIcon{
    padding: 1px;
}

.messageTrashIcon:hover,
.messageEditIcon:hover{
    cursor: pointer;

}

.messageContent{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.messageContentUser{
}

.userMsgAndEditContainer .messageIcons{
    display: none;
}

.userMsgAndEditContainer:hover .messageIcons{
    display: inline;
    display: flex;
    justify-content: right;
    cursor: pointer;
    padding-left: 4px;
}


.userMsgContainer{
    display: flex;
    padding: 6px;
    background-color: rgb(46, 128, 235);
    color: white;
    border-radius: 10px 10px 10px 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

.otherMsgContainer{
        display: flex;
        padding: 6px;
        background-color: rgb(156, 196, 250);
        color: white;
        border-radius: 10px 10px 10px 10px;
        flex-direction: row;
        justify-content: center;

}

.otherChatContainer{
    padding-left: 5px;
}

.sessionChatContainer{
    padding-right: 5px;
}