.allMatchesContainer{
    display: flex;
    justify-content: center;
}



.matchesContainer{
    display: flex;
    justify-content: center;
    height: 800px;
    width: 800px;
}

.matchCard{
    height: 200px;
    box-shadow: 0px 8px 13px rgb(0, 0, 0, .3);
    border-radius: 5px 5px 5px 5px;
}


.matchCardImg{
    height: 100px;
    width: 100px;
    
}

.matchCardLocation{
    display: flex;
    justify-content: center;
    padding: 7px
}

.space{
    margin: 0;
    padding-top: 20px;
}