/* TODO Add site wide styles */

body{
    margin:0px;
    background-color: rgb(205, 188, 188);
    font-family: Circular20,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

h1{
    margin: 0px;
}

.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    background-color: #cecece;
    
  }
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.App-link {
    color: #61dafb;
  }
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .logoutText{
    color: #adadad
  }

  .logoutText:hover{
    color: rgb(215, 76, 76)
  }
  

#footer{
    display: flex;
    position: fixed;
    height: 30px;
    background-color: rgb(204, 227, 255);
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 8px;
    padding-bottom: 6px;
}

.linkedInContainer{
  display: flex;
  justify-content: center;
}

.gitIconContainer{
  display: flex;
  justify-content: center;
}

.aboutIconGit{
  height: 30px;
  width: 30px;
}