.swipeCardContainer{
    top: 0;
}

.swipeCardProfilePicsContainer{
}

.swipeCardProfilePics{
    height: 100px;
    width: 100px;
}

.swipeCardContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 750px;
}

.swipeCardInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* background-image:linear-gradient(rgb(113 159 217), rgb(140 178 225)); */
    background-color: #cecece;
}



.swipeCardGeneralInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    font-size: larger;
    gap: 10px;
    color:whitesmoke
}

.swipeCardBio{
    padding: 20px;
    color: whitesmoke
}
.likeButtons{
    display: flex;
    justify-content: space-evenly;
  }



.swipeCardLikeButton{
    position: relative;
    background-color: #ff585b;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 18px;
    padding-top: 23px;
    width: 73px;
    border-radius: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
      
.swipeCardLikeButton:after{
    content: "";
    background: #ff88a2;
    opacity: 0;
    transition: all 0.8s
}

.swipeCardUnlikeButton:active:after,
.swipeCardLikeButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.swipeCardUnlikeButton{
    position: relative;
    background-color: #474b61;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 73px;
    border-radius: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
  
.swipeCardUnlikeButton:after{
    content: "";
    background: #ff88a2;
    opacity: 0;
    transition: all 0.8s
}

.endOfProfileCardDeckContainer{
    height: 750px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(204, 227, 255)
}

.endDeckInfo{
    display: flex;
    flex-direction: column;
    height: 500px;
    color: rgb(58, 61, 78)
}


.dogeImgContainer{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.slide Img.dogeImg{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    
}
