.swipeCardContainer{
    top: 0;
}

.swipeCardProfilePicsContainer{
}

.swipeCardProfilePics{
    height: 100px;
    width: 100px;
}

.swipeCardContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 750px;
}

.swipeCardInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-image:linear-gradient(rgb(85, 102, 179), rgb(105, 179, 208));
}



.swipeCardGeneralInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    font-size: larger;
    gap: 10px;
    color:whitesmoke
}

.swipeCardBio{
    padding: 20px;
    color: whitesmoke
}
.likeButtons{
    display: flex;
    justify-content: space-evenly;
  }



.swipeCardLikeButton{
        position: relative;
        background-color: #ff585b;
        border: none;
        font-size: 28px;
        color: #FFFFFF;
        padding: 18px;
        padding-top: 23px;
        width: 70px;
        border-radius: 100%;
        text-align: center;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
}
      
.swipeCardLikeButton:after{
        content: "";
        background: #ff88a2;
        opacity: 0;
        transition: all 0.8s
}

.swipeCardUnlikeButton:active:after,
.swipeCardLikeButton:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
}

.swipeCardUnlikeButton{
    position: relative;
    background-color: #40756f;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 70px;
    border-radius: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
  
.swipeCardUnlikeButton:after{
    content: "";
    background: #ff88a2;
    opacity: 0;
    transition: all 0.8s
}
