.loginFormContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 220px;
    padding-bottom: 40px;
    background-color: whitesmoke;
    border-radius: 4px 4px 4px 4px;
    /* box-shadow: 0px 10px 20px black; */
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginFormDiv{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    gap: 3px;
    font-family:'Noto Sans';
    font-size: 12px;
    color: rgb(89, 106, 110);
}

.loginButton{
    padding: 5px;
    border: none;
    background-color: rgb(76, 89, 115);
    color: rgb(223, 231, 233);
    width: 150px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 6px 6px;
}
.loginButtonContainer{
    padding-top: 25px;
}

.loginButton:hover{
    cursor: pointer;
    background-color: rgb(117 136 175);
}

.loginFormSignUpButton{
    padding: 5px;
    border: none;
    background-color: rgb(143, 173, 233);
    color: rgb(223, 231, 233);
    width: 150px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 6px 6px;
}

.loginFormSignUpButton:hover{
    cursor: pointer;
    background-color: rgb(170 195 247);
}

.loginFormSignUpButtonContainer{
    padding-top: 5px;
}