@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');


.tumbleSplashLogo{
    height: 110px;
    width: 220px;
    padding-right: 5px;
}

.splashBody{
    height: 100vh;
    background-image: linear-gradient(rgb(254, 254, 254), rgb(175, 225, 254));
    overflow-y: hidden;
    width: 100vw;
}

.splashContainer{
    display: flex;
    justify-content: center;
}

.splashButtonsContainer {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 10px 20px rgb(194, 194, 194);
    background-color: rgb(68, 148, 246);
    border-radius: 4px 4px 4px 4px;
    justify-items: center;

}

.tumbleIntroText{
    color:rgb(48, 141, 195)
}
    
.splashButtonLogin,
.splashButtonSignUp,
.splashButtonDog,
.splashButtonPerson {
   display: flex;
   justify-content: center;
   padding: 17px;
   width: 75px;
   height: 75px;
   border: none;
   color: rgb(255, 249, 249);
   justify-items: center;
   border-radius: 4%;
   font-family: 'Recursive', sans-serif;
}

.splashButtonLogin{
    background-image:linear-gradient(45deg, rgb(23, 64, 160),rgb(177, 200, 255));
    
    padding-top: 23px;
}

.splashButtonSignUp{
    background-image:linear-gradient(45deg,rgb(65, 88, 172),rgb(130, 199, 255));
    
}

.splashButtonDog{
    background-image:linear-gradient(45deg,rgb(74, 185, 237), rgb(181, 180, 255));
}
.splashButtonPerson {
    background-image:linear-gradient(45deg,rgb(16, 48, 255),rgb(185, 197, 255));
    
}


.splashButtonLogin:hover,
.splashButtonSignUp:hover,
.splashButtonDog:hover,
.splashButtonPerson:hover {
    box-shadow: 0px 1px 2px rgb(43, 104, 166);
    cursor: pointer;
}




.splashDog{
    padding-top: 100px;
    padding-bottom: 50px;
    height: 100px;
    width: 100px;
}