@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Alata&family=Chivo&family=Montserrat+Alternates:wght@600&family=Prompt:wght@600&display=swap');


.profileContainerRoot{
   padding-top: 100px;
   display: flex;
   justify-content: center;
}

.profilePicContainer{
    height:200px;
    padding-bottom: 100px;
}



.profileImageGrid{

    
}

.imageSubmitForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Chivo', sans-serif;
}

.uploadProfileImgButton{
    background-image:linear-gradient(to right,rgb(162, 216, 247), rgb(234, 234, 234));
}



.submitProfileImgButton{
    background-color:rgb(113, 148, 232); 
    border: none;
    color: white;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
}

.submitProfileImgButton:hover{
    background-color: rgb(7, 96, 250);
    cursor: pointer;
}



.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    padding: 20px;
    padding-top: 100px;

}

.profilePageImg{
    height: 100px;
    width: 100px;
    border-radius: 5px 5px 5px 5px;
}

.profileInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Chivo', sans-serif;
    width: 400px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(79, 148, 251);
    color: whitesmoke;

}

.editProfileIcon:hover{
    cursor: pointer;
    color: blue;

}

.profileInfo:hover{
    background-color: rgb(132, 181, 255);
}