@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Alata&family=Chivo&family=Montserrat+Alternates:wght@600&family=Prompt:wght@600&display=swap');


.profileContainerRoot{
   padding-top: 100px;
   display: flex;
   justify-content: center;
   width: 100vw;
}

.profilePicContainer{
    height:200px;
    padding-bottom: 50px;
    width: 350px;
}



.profileImageGrid{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.imageSubmitForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'ABeeZee', sans-serif;
    color: whitesmoke;
    font-size: 12px ;
    border-radius: 2px 2px 2px 2px;
    padding-top: 20px;
}
.imageSubmitForm:hover{
}

.uploadProfileImgButton{
    
    background-color: rgb(3, 135, 250);
    display: flex;
    justify-content: center;
    width: 110px;
    font-size: 13px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
}

.uploadProfileImgButton:hover{
    background-color: rgb(82, 167, 252);
}

.uploadProfileImgButtonLabel{
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    padding-top: 9px;
    font-family: 'Chivo';
}



.submitProfileImgButton{
    background-color:rgb(113, 148, 232); 
    border: none;
    color: white;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
}

.submitProfileImgButton:hover{
    cursor: pointer;
    background-color: rgb(7, 96, 250);
   
}



.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    padding: 20px;
    padding-top: 100px;

}

.profilePageImg{
    height: 100px;
    width: 100px;
    border-radius: 5px 5px 5px 5px;
    padding: 4px;
    background-color: whitesmoke;
    box-shadow: 0px 3px 6px rgb(176, 176, 176);
}

.profileInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Chivo', sans-serif;
    width: 400px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(79, 148, 251);
    color: whitesmoke;

}

.editProfileIcon:hover{
    cursor: pointer;
    color: blue;

}

.profileInfo:hover{
    background-color: rgb(132, 181, 255);
}