.profileContainerRoot{
   padding-top: 100px;
   display: flex;
   justify-content: center;
   width: 100vw;
}

.profilePicContainer{
    padding-bottom: 50px;
    width: 420px;
}


.profileImageGrid{  
    --grid-columns: 1;
    --grid-column-width: 0;
    --grid-gap: 0;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    /* -ms-flex: 1; */
    display: flex;
    /* display: -webkit-box; */
    flex: 1;
    min-width: 100%;
    /* height: 100%; */
    min-height: 415px;
    margin-top: calc(var(--grid-gap)*-1);
    margin-right: calc(var(--grid-gap)*-1);
}


.profilePageImg{
    position: absolute;
    z-index: 2;
    width: 129px;
    height: 129px;
    -webkit-transform: translate(0);
    transform: translate(0);
    border-radius: 5px 5px 5px 5px;
    padding: 3px;
    background-color: #cecece;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* width: var(--grid-column-width); */
    /* padding: var(--grid-gap) var(--grid-gap) 0 0; */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}


.profilePageImgBlank{
    position: absolute;
    z-index: 1;
    width: 129px;
    height: 129px;
    -webkit-transform: translate(0);
    transform: translate(0);
    border-radius: 5px 5px 5px 5px;
    padding: 3px;
    background-color: #cecece;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* width: var(--grid-column-width); */
    /* padding: var(--grid-gap) var(--grid-gap) 0 0; */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

}

.cameraIcon{
    width: 30px;
    padding-top: 45px;
    height: 30px;
}

.profilePageImgBlank:first-child{
    height: 270px;
    width: 270px;
}

.profilePageImgBlank:nth-child(2){
    -webkit-transform: translate(282px);
    transform: translate(282px);
}

.profilePageImgBlank:nth-child(3){
    -webkit-transform: translate(282px,141px);
    transform: translate(282px,141px);
}
.profilePageImgBlank:nth-child(4){
    -webkit-transform: translate(282px,282px);
    transform: translate(282px,282px);
}

.profilePageImgBlank:nth-child(5){
    -webkit-transform: translate(141px,282px);
    transform: translate(141px,282px);
}

.profilePageImgBlank:nth-child(6){
    -webkit-transform: translateY(282px);
    transform: translateY(282px);
}

/* ---------------------------------------------------------RealImgs */

.profilePageImg:first-child{
    height: 270px;
    width: 270px;
}

.profilePageImg:nth-child(2){
    -webkit-transform: translate(282px);
    transform: translate(282px);
}

.profilePageImg:nth-child(3){
    -webkit-transform: translate(282px,141px);
    transform: translate(282px,141px);
}

.profilePageImg:nth-child(4){
    -webkit-transform: translate(282px,282px);
    transform: translate(282px,282px);
}

.profilePageImg:nth-child(5){
    -webkit-transform: translate(141px,282px);
    transform: translate(141px,282px);
}

.profilePageImg:nth-child(6){
    -webkit-transform: translateY(282px);
    transform: translateY(282px);
}

.imageSubmitForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'ABeeZee', sans-serif;
    color: whitesmoke;
    font-size: 12px ;
    border-radius: 2px 2px 2px 2px;
    padding-top: 20px;
}


.uploadPicContainer{
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-evenly;
    padding-bottom: 30px;
}


.uploadInstructText{
    font-family: 'Noto Sans';
    padding-top: 85px;
    position: absolute;
}


#picInput{
    
    display: flex;
    justify-content: center;
    width: 100px;
    padding-top: 5px;
    font-size: 13px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
}

.picInputButton{
    background-color: #34609c;
    padding-top: 5px;
    padding-bottom: 2px;
    width: 120px;
    border-radius: 6px 6px;
    /* font-family: 'Chivo'; */
}

.picInputButton svg{
    height: 18px;
    width: 20px;
}

.picInputButton:hover{
    background-color: #4d89db;
    cursor: pointer;
}

.uploadProfileImgButton:hover{
    background-color: rgb(82, 167, 252);
}

::-webkit-file-upload-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    display: none;
    font-family: 'Chivo';
}



.submitProfileImgButton{
    /* background-color:rgb(84 131 182);  */
    background-image: linear-gradient(to right,rgb(196 191 220), rgb(170 199 219));
    border: none;
    color: white;
    padding: 10px;
    border-radius: 6px 6px;
    width: 200px;
}

.submitProfileImgButton:hover{
    cursor: pointer;
    background-image: linear-gradient(to right,rgb(215, 210, 241), rgb(187, 216, 236));
   
}

.maxPhotosText{
    color: rgb(143, 197, 215);
    font-size: 12px;
}



.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    padding: 20px;
    padding-left: 100px;

}

.profileText{
    color: whitesmoke;
    font-family: 'Noto Sans';
}


.profileInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Chivo', sans-serif;
    width: 400px;
    border-radius: 10px 10px 10px 10px;
    background-color: #cecece;
    color: #525761;

}

.editProfileIcon:hover{
    cursor: pointer;
    color: blue;

}

.profileInfo:hover{
    background-color: #ebedf3;
}