#chatContainer{
    width: 100vw;
    
}


.chatMessages{
    display: flex;
    justify-content: right;
    bottom: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
}

.chatMessageUserIcon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    object-fit: cover;
}

.otherUserMessages{
    display: flex;
    justify-content: left;
    bottom: 150px;
    padding-top: 50px;
    padding-left: 20px;
}

.messageForm{
    display: flex;
    justify-content: center;
    position: static;
    bottom: 50px;
}

.sendMsgTextareaContainer{
    display: flex;
    padding-right: 20px;
}

.sendMsgTextarea{
    display: flex;
    border-radius: 4px 4px 4px 4px;
    width: 600px ;
    padding: 15px;
    resize: none;
    outline: none;
    border: none;
    background-color: rgb(242, 243, 247);
    font-family: Circular20,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.messageList{
    height: 85vh;
    /* overflow: auto; */
}

.messageSubmitB{
    border: none;
    background-color: rgb(49, 135, 94);
    color: white;
    width: 50px;
    font-size: 20px;
    border-radius: 4px 4px 4px 4px;
}

.messageSubmitB:hover{
    cursor: pointer;
    background-color: rgb(15, 184, 54);
}


#matchedUserInfoContainer{
    background-color: #cecece;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;

}

.matchedUserInfo{
    padding: 20px;
}

.unmatchB{
    border: none;
    background-color: rgb(157, 50, 50);
    color: rgb(161, 161, 161);
    border-radius: 4px 4px 4px 4px;
    height: 30px;
    width: 80px;
}

.unmatchB:hover{
    cursor: pointer;
    background-color: rgb(212, 47, 47);
    color: white
    
}

