.allLikesContainer{
    display: flex;
    justify-content: center;
}



.likesContainer{
    display: flex;
    justify-content: center;
    height: 800px;
    width: 800px;
}

.likeCard{
    height: 200px;
    box-shadow: 0px 8px 13px rgb(0, 0, 0, .3);
    border-radius: 5px 5px 5px 5px;
}


.likeCardImg{
    height: 100px;
    width: 100px;
    
}


.likeSpace{
    margin: 0;
    padding-top: 20px;
}